@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), url("/fonts/OpenSans-Regular.woff2") format("woff2"), 
                            url("/fonts/OpenSans-Regular.woff") format("woff"),
                            url("/fonts/OpenSans-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), url("/fonts/OpenSans-SemiBold.woff2") format("woff2"), 
                            url("/fonts/OpenSans-SemiBold.woff") format("woff"),
                            url("/fonts/OpenSans-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
  }  

html,
body {
    height: 100%;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #676a6c;
}

.documentation-title {
    font-weight: bold;
}

.notes {
    font-size: 11px;
    color: #666;
    padding-top: 10px;
    text-align: left;
}
sup {
    padding-left: 3px;
    color: #666;
}


a.logout {
    color: #333;
    line-height: 60px;
    border-bottom: 1px #999 solid;
}
a.logout:hover {
    text-decoration: none !important;
    border-bottom: 1px #333 solid;
}

.card {
    padding-left: 43px;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 36px;
    font-size: 16px;
}
.card-visa {
    background-image: url(/Visa-icon.png);
}
.card-visa {
    background-image: url(/Master-Card-icon.png);
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 15px 0 15px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
